/* ------CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* ------FONTS */
@font-face {
  font-family: "Satoshi";
  src: url('./assets/fonts/Satoshi-Variable.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-Variable.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Italic";
  src: url('./assets/fonts/Satoshi-VariableItalic.woff2') format('woff2'),
       url('./assets/fonts/Satoshi-VariableItalic.woff') format('woff');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}
/* ------ROOT & CUSTOM VALUES */
:root {
    font-family: "Satoshi", sans-serif;
    --main-bg-color: #f5f6f7;
    --sidebar-color: #eff1f2;
    --main-accent-blue: #0058bb;
    --accent-blue-muted: rgba(108, 160, 255, 0.8);
    --bright-white: white;
    --black-text: #2c2f30;
    --muted-text: #595C5D;
}
/*------GENERAL*/
.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-blue-muted);
    border-radius: 1rem;
    padding: 0 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    font-variant: all-small-caps;
    color: var(--main-accent-blue);
    max-width: fit-content;
}

.minimal {
    border: none;
    background-color: transparent;
}

h2{
    font-size: 2rem;
    font-weight: 600;
}

h2.lighter-txt {
    font-weight:400;
}

h5 {
    font-size: 0.875rem;
    font-weight: 500;
    font-variant: all-small-caps;
    }

h6 {
    font-size: 1rem;
    font-weight: 500;
}

p.normal {
    font-size: 1rem;
}

.muted {
    color: var(--muted-text);
}

a {
    text-decoration: none;
    color: var(--main-accent-blue);
}

.icon-filled{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 2rem;
    width: 2rem;

    img {
        height: 1.25rem;
        width: auto;
    }
}


/* ------PAGE GRID LAYOUT */
.page-grid {
    display: grid;
    grid-template-columns: clamp(250px, 25%, 325px) 1fr;
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
}

.sidebar, .main {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sidebar {
    background-color: var(--sidebar-color);
    padding: 1.5rem 2rem;
        max-height: 100vh;
}

.main {
    background-color: var(--main-bg-color);
    padding: 1.5rem;
}

.header {
    display: flex;
    align-items: center;
    flex: 0 0 2.5rem;
    height: 2.5rem;
    width: 100%;
    background-color: transparent;
    padding: 0;
}
/* ------TAB HEADER */
.main .header { 
    .logo {
        margin-right: clamp(20px, 6.75vw, 6.75rem);
        color: var(--main-accent-blue);
        font-size: 1.5rem;
    }

    nav {
        display: flex;
        gap: 2rem;
    }

    .tab-button {
        background-color: transparent;
        color: var(--black-text);
        font-size: 1rem;
        font-weight: normal;
        border: none;

        transition: transform 0.2 ease;
    }

    .tab-button:active {
        color: var(--main-accent-blue);
        border-bottom: 2px solid var(--main-accent-blue);
    }

    .tab-button:hover {
        transform: scale(1.1);
    }

    .profile-icon{
        height: 2.5rem;
        width: auto;
        margin-left: auto;
    }
}
/* ------MAIN SECTION CONTENT */
.tab {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1 1 auto;
    overflow-y: visible;
    padding: 0 4rem;
}

.tab-title {
    display: flex;
    flex-direction: column;
    width: 80%;

    h1 {
        font-size: 3.75rem;
        font-weight: 400;
    }

    p {
        font-size: 1.125rem;
        font-weight: 300;
    }
}
/* ------SIDEBAR SPECIFIC */
#sb-header {
    display: flex;
    align-items: center;
}
.icon-filled.org-icon {
    background-color: var(--main-accent-blue);
    border-radius: 5px;
}

.sb-hd-txt-wrap {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding: 0;
    margin-left: 1rem;

    h3 {
        color: var(--main-accent-blue);
        padding: 0;
        line-height: 0.9;
    }

    p {
        padding: 0;
        line-height: 0.9;
        font-size: 0.825rem;
    }
}

#sb-content {
    align-items: center;
    justify-content: flex-end;
    padding: 0;
    margin-top: 2rem;

    .sb-button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
        min-height: 2.5rem;
        width: clamp(150px, 80%, 250px);
        border: none;
        border-radius: 0.5rem;
        background: linear-gradient(169deg,rgba(0, 88, 187, 1) 55%, rgba(0, 88, 187, 1) 53%, rgba(159, 192, 229, 1) 100%, rgba(255, 255, 255, 1) 100%);
        color: var(--bright-white);
        font-size: 1rem;
        font-weight: 500;
    }

    .sb-button::before {
        content: "+";
        font-size: 1.25rem;
    }
}




